body{
    background-color: #f7f9fcd8;
}
.button{
    background-color: #183444 !important;
 
}
.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.header{
    background-color: #183444 !important;
}


.about-pencil{
    margin-left: 15rem;
}

@media screen and (max-width: 1024px) {
    .about-pencil {
        position: absolute;
        right: 0 !important;
        top: 0 !important;
    }

    .pencil-margin{
        position: absolute;
        right: 0 !important;
        top: 0 !important;
    }
}