body{
    background-color: #f7f9fcd8;
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.header{
    background-color: #183444 !important;
}